# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=
SKP_DOCS_IN_DIR=../data/docs/in
SKP_DOCS_OUT_DIR=../data/docs/out
SKP_INGEST_WORKDIR=../ai-doc-ingest
SKP_INGEST_API_URL=
SKP_CONVERT_TIMEOUT_MS=600000
SKP_UPLOAD_MAX_BYTES=262144000
